// animations


// simple float horizontal
.animation-float-horizontal {
  &::before {
    animation: float-horizontal 7s ease-out infinite;
    animation-timing-function: cubic-bezier();
  }
}
@keyframes float-horizontal {
  50% {
    transform: translate(4px, 0);
  }
}


// simple float vertical
.animation-float-vertical {
  &::after {
    animation: float-vertical 1.5s ease-out infinite;
    animation-timing-function: linear;
  }
  &:hover::after {
    animation-play-state: paused;
  }
}
@keyframes float-vertical {
  50% {
    transform: translate(0, 5px);
  }
}


// falling snow animation - winter theme
@keyframes winter {
    100% {transform: translateY(200vh); }
}


// player spin animation
@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
