// breakpoints simple mixin

@mixin respond($breakpoint) {

  @if $breakpoint==tablet {
    @media only screen and (min-width: 680px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint==mobile-only {
    @media only screen and (max-width: 679px) {
      @content;
    }
  }
}
