// checkbox hack


.dropdown {
  &__checkbox {
    position: absolute;
    opacity: 0;
    &:checked ~ .dropdown__label::after {
      border-left: 4px solid transparent;
      border-top: 4px solid var(--color-black);
      border-right: 4px solid transparent;
      margin-left: -2px;
      margin-top: -2px;
    }
    &:checked ~ .dropdown__paragraph {
      max-height: 100%;
      display: block;
      position: relative;
    }
  }
  &__label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: var(--color-red);
    font-size: .875rem;
    padding: 20px 0;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      right: -12px;
      border-left: 4px solid var(--color-black);
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      margin-top: -4px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__paragraph {
    max-height: 0;
    max-width: 276px;
    overflow: hidden;
    @include respond(desktop) {
      padding-left: 44px;
    }
  }
}
