// general rules


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: var(--color-red);
}

body {
  margin: 0;
  color: var(--color-gray-dark);
}

img {
  width: 100%;
}

ul {
  margin: 0; //reset
  padding: 0;  //reset
  font-size: 1.1rem;
}

iframe {
  height: 300px;
  border: 0;
  width: 100%;
}

// paragraph
p {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 10px;
  a {
    color: var(--color-red);
    text-decoration: underline;
  }
}

// container
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--max-width);
  margin-bottom: calc(2*var(--item-gap));

  @include respond(desktop) {
    margin-bottom: calc(3*var(--item-gap));
  }

  &__item {
    margin: calc(3*var(--item-gap));
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;

    @include respond(desktop) {
      flex-basis: calc(33.3333333333% - 6*var(--item-gap));
      align-items: baseline;
    }
  }
}

// button
.btn {
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  box-shadow: var(--button-shadow);
  transition: var(--button-transition);
  color: var(--color-white);
  background-color: var(--color-btn);
  font-size: var(--button-font-size);
  display: inline-block;
  margin: 5px 0;

  &:hover {
    background-color: var(--color-btn-hover);
    box-shadow: none;
    text-decoration: none;
  }

  // button with arrow down icon
  &--arrow {
    background-color: var(--color-black);
    &::after {
      content: '';
      margin-left: 20px;
      margin-right: -20px;
      background-image: url('../assets/img/svg/ico-arrow.svg');
      background-size: 16px;
      background-repeat: no-repeat;
      width: 16px;
      height: 10px;
      display: inline-block;
    }
  }

  // button with lower opacity
  &--semitransparent {
    opacity: .6;
    &:hover {
      opacity: .85;
    }
  }
}

// footer
.foot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: var(--item-gap);
  color: var(--color-gray-light);
  color: yellow;
  background-color: var(--color-gray-dark);
  &__info {
    margin-top: calc(2*var(--item-gap));
    flex-basis: 100%;
    color: var(--color-gray-lighter);
    font-size: .95rem;
  }
  &__credits {
    flex-basis: 100%;
    color: var(--color-gray-light);
    font-size: .8rem;
  }
}
