// helpers
.full-width {
  flex-basis: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-align-center {
  text-align: center;
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.color-bg-1 {
  background-color: var(--color1);
}

.color-bg-2 {
  background-color: var(--color2);
}

.color-bg-3 {
  background-color: var(--color3);
}

.mt {
  margin-top: var(--margin-default);
}

.mb {
  margin-bottom: var(--margin-default);
}
