// icons

.ico {
  position: relative;

  &::before {
    content: "";
    display: flex;
    text-align: center;
    box-shadow: 0 5px 25px 0px rgba(255, 255, 255, .5);
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  // icons
  &__person::before {
    background-image: url('../assets/img/svg/ico-person.svg');
  }
  &__offer::before {
    background-image: url('../assets/img/svg/ico-offer.svg');
  }
  &__look::before {
    background-image: url('../assets/img/svg/ico-look.svg');
  }
}
