// list of items

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // li
  &__item {
    padding: var(--item-gap);
    list-style-type: none;
    flex-basis: 100%;
    @include respond(tablet) {
      flex-basis: calc(50% - 2*var(--item-gap));
    }
    @include respond(desktop) {
      flex-basis: calc(33.3333333333333333% - 2*var(--item-gap));
    }
  }
}
