// navigation menu


.navigation {
  position: sticky;
  top: 0;
  background-color: var(--color-menu-bcg);
  z-index: 1;

  @include respond(desktop) {
    display: flex;
    justify-content: center;
  }

  // ul
  &__list {
    display: flex;
  }

  // li
  &__list-item {
    list-style: none;
    flex-basis: 33.3333%;
    text-align: center;

    @include respond(desktop) {
      margin: 0;
    }
  }

  // a href
  &__link {
    padding: 4px 10px;
    display: block;
    text-decoration: none;
    font-size: 1.45rem;
    position: relative;

    @include respond(tablet) {
      font-size: 2rem;
    }

    @include respond(desktop) {
      padding: 4px 24px;
      font-size: 3.5rem;
    }

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      bottom: 8px;
      left: 50%;
      width: 0;
      height: 1px;
      border-radius: 2px;
      background-color: var(--color-black);
      transition: var(--nav-item-transition);
      opacity: .95;

      @include respond(desktop) {
        bottom: 14px;
      }
    }

    &:hover {
      color: var(--color-black);
      text-decoration: none;
    }

    &.is-selected {
      color: var(--color-red);
      &::after {
        content: '';
        left: 23%;
        width: 54%;

        @include respond(tablet) {
          left: 25%;
          width: 50%;
        }

        @include respond(desktop) {
          left: 15%;
          width: 70%;
        }
      }
    }
  }
}
