// audio player


.player {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  transition: border-radius .25s;
  width: 100%;
  max-width: 360px;
  z-index: 2;
  margin-bottom: calc(2*var(--item-gap));

  &__background {
    border-radius: 4px;
    background: var(--color-white);
    padding: 60px 30px 20px 30px;
    width: 100%;
  }

  &__track-name {
    flex-basis: 100%;
    font-size: 1rem;
    color: var(--color-gray-dark);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__image-wrap {
    margin-bottom: -60px;
    border-radius: 50%;
    position: relative;
    width: 110px;
    height: 110px;
    box-shadow: 10px 10px 9px -9px rgba(0,0,0,0.18);
    &::after {
      content: '';
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      bottom: 50%;
      left: 50%;
      width: 16px;
      height: 16px;
      transform: translate(-50%, 50%);
    }
  }

  &__image {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    animation: spin 4s linear infinite;
    animation-play-state: paused;
  }

  // music is playing state
  &.play {
    .player__background {
      border-radius: 4px 4px 0 0;
    }
    .player__image {
      animation-play-state: running;
    }
    .player__progressbar-wrapper {
      transform: translateY(100%);
      opacity: 1;
      z-index: 1;
    }
  }

  // player navigation buttons
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  &__navigation-btn {
    border: 0;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    background-color: transparent;
    opacity: .6;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: 0;
    }

    // modificator for play button
    &--accent {
      opacity: 1;
      transition: color var(--player-transition) linear;
      &:hover {
        color: var(--color-red);
      }
    }
  }

  // progressbar
  &__progressbar-wrapper {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 0 0 4px 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(0%);
    transition: transform var(--player-transition) ease-in, padding-top var(--player-transition) ease-in, padding-bottom var(--player-transition) ease-in, opacity var(--player-transition) ease-in;
    z-index: -1;
  }

  &__progressbar-container {
    background: rgba(255, 255, 255, .7);
    border-radius: 4px;
    cursor: pointer;
    margin: 14px 0;
    height: 6px;
    width: 100%;
    width: calc(100% - 48px);
  }

  // the actual progress bar and making it flow along with the song
  &__progressbar {
    background-color: var(--color-gray-dark);
    border-radius: 4px;
    height: 100%;
    width: 0%;
    transition: width .25s linear;
  }
}
