// section rules

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--item-gap);
  padding-top: 100px;
  opacity: 0;
  transition: opacity 2s;

  @include respond(desktop) {
    padding-top: 150px;
  }

  &__intro {
    padding-top: var(--item-gap);
    width: calc(100vw - 2*var(--item-gap));
    height: calc(100vh - 2*var(--item-gap));
    align-items: center;
    background: radial-gradient(farthest-corner at 30vw 20vh,#7397a1 1%,#3f2c41 100%);
    opacity: 1;
  }

  &__intro-text {
    z-index: 1;
  }

  &.is-visible {
    opacity: 1;
  }
}
