.timeline {
  margin-bottom: var(--item-gap);
  border-left: 1px solid var(--color-gray-light);
  padding-left: 45px;

  &__item {
    position: relative;
    list-style: none;

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      display: block;
      top: -10px;
      left: -51.5px;
      border: 1px solid var(--color-gray-light);
      background-color: var(--color-white);
      border-radius: 10px;
    }
  }

  &__description {
    margin-bottom: 0;
  }

  &__date {
    color: var(--color-gray-light);
    margin-left: -30px;
    font-size: .75rem;
  }

  h3 {
    margin-bottom: 0;
  }
}
