// general
html {
  line-height: 1.45;
}

body {
  font-size: 16px;
  font-size: .875rem;
  font-family: 'Nunito Sans', sans-serif;

  p {
    color: var(--color-gray);
    font-size: .875rem;
    line-height: 1.5;
    line-height: 1.45;
  }

  a {
    color: var(--color-gray-dark);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p a {
    color: var(--color-red);
  }

  h3 a {
    position: relative;

    &:hover {
      text-decoration: none;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 0;
      height: 1px;
      opacity: .5;
      background-color: var(--color-black);
      transition: var(--link-transition);
      @include respond(desktop) {
        bottom: 10px;
      }
    }

    &:hover::after {
      width: 100%;
    }
  }
}

// headings
h1 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 6vw;
  margin-top: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  @include respond(desktop) {
    font-size: 1.8rem;
    text-align: left;
  }
}

h3 {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: left;
  line-height: 1.2;
  @include respond(desktop) {
    font-size: 2.8rem;
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 1.2;
  @include respond(desktop) {
    font-size: 1.25rem;
  }
}
