// variables

:root {
  // colors
  --color-white: #ffffff;
  --color-almost-white: #f4f5f5;
  --color-gray-lighter: #f9f9f9;
  --color-gray-light: #a4a4a4;
  --color-gray: #535252;
  --color-gray-dark: #333333;
  --color-black: #000000;
  --color-red: #bf0000;
  --color-menu-bcg: #eeeeee;
  --color-btn: var(--color-red);
  --color-btn-hover: var(--color-black);

  // dimensions
  --border-radius: 3px;
  --margin-default: 24px;
  --max-width: 1200px;
  --item-gap: 20px;

  // li
  --list-item-padding: 20px;

  // button
  --button-padding: 12px 42px;
  --button-transition: background-color 250ms ease-in-out, opacity 200ms ease-in-out;
  --button-shadow: 0 1px 4px rgba(0,0,0,.275);
  --button-font-size: .85rem;

  // link transition
  --link-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);

  // nav
  --nav-item-transition: width .3s ease 0s, left .3s ease 0s;

  // shadows
  --box-shadow: 2px 2px 7px rgba(0,0,0,.05);

  // player transition
  --player-transition: .2s;
}
