// winter theme - and the snow is falling...

$flake-speed-1: 120s;
$flake-speed-2: 240s;
$flake-speed-3: 360s;

$s1:"";
$s2:"";
$s3:"";
@for $i from 1 through 400 {
    $s1: $s1 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    $s2: $s2 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    $s3: $s3 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    @if $i < 400 {
        $s1: $s1 + ",";
        $s2: $s2 + ",";
        $s3: $s3 + ",";
    }
}

.winter {
  width: 100vw;
  height: 150vh;
  position: absolute;
  top: -50vh;
  animation-name: winter;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  overflow: hidden;
  & > div {
    border-radius: 50%;
    opacity: .7;
  }
}


.flake1 {
  width: 1rem;
  height: 1rem;
  filter:blur(1.5px);
  box-shadow: #{$s1};
  animation-duration: $flake-speed-1;
  @include respond(desktop) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.flake1.delayed {
  animation-delay: -$flake-speed-1 * .5;
}

.flake2 {
  width: .7rem;
  height: .7rem;
  filter:blur(3px);
  box-shadow: #{$s2};
  animation-duration: $flake-speed-2;
  @include respond(desktop) {
    width: 1.2rem;
    height: 1.2rem;
  }
}
.flake2.delayed {
  animation-delay: -$flake-speed-2 * .5;
}

.flake3 {
  width: .3rem;
  height: .3rem;
  filter:blur(6px);
  box-shadow: #{$s3};
  animation-duration: $flake-speed-3;
  @include respond(desktop) {
    width: 0.8rem;
    height: 0.8rem;
  }
}
.flake3.delayed {
  animation-delay: -$flake-speed-3 * .5;
}
